@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 14px;
  font-family: 'PT Sans', Tahoma, Verdana, Arial, sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f07e13;
  border-radius: 50px;
}

.button-shadow {
  box-shadow: 0 0 0 8px rgba(222, 71, 23, 0.2);
}
